<!doctype html>
<html lang="en">

<head>
    <title>Bolt Pay</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- font -->
    <link rel="stylesheet" href="../static/css/fa.pro.css">
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
</head>

<body class="bg-lil-white">
    <div class="container-fluid" id="main">
        <div class="row  d-flex align-items-center justify-content-center" id="login-page">
            <div class="col-lg-4 col-sm-12 col-xs-12 col-md-6" id="content">
                <div class="text-center">

                    <div class="text-center">
                        <i class="fas fa-bolt fa-3x" style="color: #0070BA"></i>
                    </div>
                    <h1 class="title"> <a href="{{url_for('users.homepage')}}"><b>Bolt</b> Pay</a></h1>
                    <p class="sub-title">Now easily lend or borrow money in need without any hassles.</p>
                </div>
                <!-- login form starts -->
                <div class="form-group d-block mx-auto">
                    <div class="text-center">
                        <h1 class="title">This link has been expired.</h1>
                    </div>

                    <!-- login form ends-->
                    <div class="text-center">
                        <button type="submit" class="btn" id="sign-Up-Btn"><a href="{{url_for('users.login')}}">Sign
                                In</a></button>
                    </div>
                </div>
            </div>

        </div>

        <!-- footer -->
        <div class="row footer">

            <div class="col">
                &copy; 2019
                <i class="fas fa-bolt fa-1x" style="color: #0070BA">&#160;</i>
                <small> <a class="navbar-brand" href="{{url_for('users.homepage')}}"> <strong>Bolt</strong> Pay</a><a
                        href="#">Privacy &
                        terms</a></small>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>