<!doctype html>
<!-- 
Designed & Developed by

 ██████╗     ██████╗  ██████╗ ██╗  ██╗██╗████████╗
██╔════╝     ██╔══██╗██╔═══██╗██║  ██║██║╚══██╔══╝
██║  ███╗    ██████╔╝██║   ██║███████║██║   ██║   
██║   ██║    ██╔══██╗██║   ██║██╔══██║██║   ██║   
╚██████╔╝    ██║  ██║╚██████╔╝██║  ██║██║   ██║   
 ╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝   ╚═╝   

 https://grohit.com/
 -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
     <!-- Custom styles for this template -->
     <link rel="stylesheet" href="../static/css/home.css">
     <link href="../static/css/carousel.css" rel="stylesheet">
    <title>Bolt Pay</title>
</head>

<body>

    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top" id="menu">
                <i class="fas fa-bolt fa-2x" style="color: #ffffff">&#160;</i>
                <a class="navbar-brand" href="{{url_for('users.homepage')}}"> <strong>Bolt</strong> Pay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                </ul>
                <div class="loginSection">
                    <a name="" id="loginBtnHomePage" class="btn btn-outline-primary mr-2" href="{{url_for('users.login')}}" role="button">Log
                        In</a>
                    <a name="" id="signUpBtnHomePage" class="btn btn-primary" href="{{url_for('users.signup')}}" role="button">Sign Up</a>
                </div>
            </div>
        </nav>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <img class="d-block w-100" src="../static/images/i1.jpg" alt="First slide" height="auto">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="font-pp-big">In need of some urgent money?</h1>
                        <p class="font-pp">Our secure application helps you to borrow money from others in an easy way.
                            <br> Learn more about it now:</p>
                        <p class="font-pp"><a class="btn btn-lg btn-primary carouselCTA" href="{{url_for('users.signup')}}" role="button">Sign up
                                today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <img class="d-block w-100" src="../static/images/i2.jpg" alt="First slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="font-pp-big">Fraud Prevention</h1>
                        <p class="font-pp">To reduce fraud and protect your business, every transaction is examined through our fraud-screening technology that is integrated into a global database of historical fraudulent activities.
                        </p>
                        <p class="font-pp"><a class="btn btn-lg btn-primary carouselCTA" href="https://www.boltpay.io/" role="button">Learn
                                more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <img class="d-block w-100" src="../static/images/i5.jpg" alt="First slide">

                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="font-pp-big">Increased Revenue</h1>
                        <p class="font-pp">With a high transaction approval rating with our card payment collection product, we consistently ensure that you enjoy increased revenue in your business.


                        </p>
                        <p class="font-pp"><a class="btn btn-lg btn-primary carouselCTA" href="https://www.boltpay.io/" role="button">Check
                                out features</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="container-fluid featuresSection">
        <div class="row text-center">
            <div class="col-md-3">
<i class="fas fa-shield-alt fa-4x p-4 text-center"></i>
                <h4 class="font-pp-big">Fast Customer Support</h4>
                <p class="font-pp">We believe in building your business one transaction at a time. As such, we will be there with you every step of the way to make sure that our products meet all your needs.</p>
            </div>
            <div class="col-md-3">
<i class="fas fa-map-marked-alt fa-4x p-4"></i>
                <h4 class="font-pp-big">Everything in one place</h4>
                <p class="font-pp">We believe that payment technology is already complicated. So let us help you simplify it.
                    Our dashboard aggregates all your payment data into a simple view, for you to get sense of your business at one glance.</p>
            </div>
            <div class="col-md-3">
<i class="fas fa-fingerprint fa-4x p-4"></i>
                <h4 class="font-pp-big">Reduce Chargeback</h4>
                <p class="font-pp">At Boltpay, minimizing chargebacks is a top priority, for which we are always willing to work closely with your organization to reduce your chargebacks.</p>
            </div>
            <div class="col-md-3">
<i class="fas fa-lock fa-4x p-4"></i>
                <h4 class="font-pp-big">Full security through modern encryption</h4>
                <p class="font-pp">With security at the core of our solution offerings, our products are all built with cutting - edge security technology to protect your business and your customers.</p>
            </div>

        </div>
    </div>
    </div>

 
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">


        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 text-center text-white">
                <h4>Get started for free.</h4> <a href="{{url_for('users.signup')}}"
                    class="btn btn-lg btn-primary carouselCTA">Register Now!</a>
            </div>

        </div>
        <div class="row mt-5">

            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center text-white">
                © COPYRIGHTS
                <a href="{{url_for('users.homepage')}}" class="text-white">BOLTPAY</a>
                ALL RIGHTS RESERVED.
            </div>
            </hr>
        </div>
    </div>
</section>
	<!-- ./Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script>
            $(function () {
          $(document).scroll(function () {
            var $nav = $(".navbar-fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
          });
        });
            </script>
</body>

</html>