<!doctype html>
<html lang="en">

<head>
  <title>New Account | Bolt Pay</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- font -->
  <link rel="stylesheet" href="../static/css/fa.pro.css">
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <!-- farhaan code alerts -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!---->
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message[0][1]}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% endwith %}

  <!---->

  {%if message%}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <!---->
</head>

<body class="bg-lil-white">
  <div class="container-fluid" id="main">
    <div class="row  d-flex align-items-center justify-content-center" id="login-page">
      <div class="col-lg-4 col-sm-12 col-xs-12 col-md-6" id="content">
        <div class="text-center">
          <div class="text-center">
            <i class="fas fa-bolt fa-3x" style="color: #0070BA"></i>
          </div>
          <h1 class="title"><a href="{{url_for('users.homepage')}}">Bolt Pay</a></h1>
          <p class="sub-title">Welcome, Let's create your account!!</p>
        </div>
        <!-- login form starts -->
        <div class="form-group d-block mx-auto">
          <form method="post" class="mx-auto" autocomplete="off">

            <input type="text" class="form-control" name="firstName" id="firstNameId" aria-describedby="helpName"
              placeholder="Enter your First name" required>

            <input type="text" class="form-control" name="lastName" id="lastNameId" aria-describedby="helpName"
              placeholder="Enter your Last name" required>




            <input type="text" class="form-control" name="userCityName" id="CityName"
              aria-describedby="helpUserCityName" placeholder="Town /City">

            <select id="StateName" name="userStateName" class="form-control mb-3" required>
              <option value="">State</option>
              <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
              <option value="Daman and Diu">Daman and Diu</option>
              <option value="Delhi (NCT)">Delhi</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
              <option value="APO">Army Post Office</option>
            </select>



            <input type="tel" class="form-control" name="mobileNumber" id="user-mobile-number"
              aria-describedby="helpNumber" placeholder="Enter your mobile number" required>

            <div class="text-center mt-3">
              <a href="{{url_for('users.login')}}" class="">Already have an account? Log in</a>
            </div>
            <div class="text-center mt-3">
              <p>or</p>
            </div>

            <div class="form-check">
              <label class="form-check-label checkBoxContent">
                <input type="checkbox" class="form-check-input" name="checkBoxTnC" id="agreeTnC" value="checkedValue"
                  checked>
                By clicking the button below, I agree to be bound by Lending Money App’s <a href="">User Agreement</a>
                and <a href="">Privacy Statement</a>. <span class="checkmark"></span>
              </label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-3" id="loginBtn">Agree and Create Account </button>
            </div>
          </form>
          <!-- login form ends-->

        </div>
      </div>

    </div>

    <!-- footer -->
    <div class="row footer">

      <div class="col">
        &copy; 2019
        <i class="fas fa-bolt fa-1x" style="color: #0070BA">&#160;</i>
        <small> <a class="navbar-brand" href="{{url_for('users.homepage')}}"> <strong>Bolt</strong> Pay</a><a
            href="#">Privacy &
            terms</a></small>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>