<!doctype html>
<!-- 
Designed & Developed by

 ██████╗     ██████╗  ██████╗ ██╗  ██╗██╗████████╗
██╔════╝     ██╔══██╗██╔═══██╗██║  ██║██║╚══██╔══╝
██║  ███╗    ██████╔╝██║   ██║███████║██║   ██║   
██║   ██║    ██╔══██╗██║   ██║██╔══██║██║   ██║   
╚██████╔╝    ██║  ██║╚██████╔╝██║  ██║██║   ██║   
 ╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝   ╚═╝   

 https://grohit.com/
 -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"> -->
    <link rel="stylesheet" href="../static/css/fa.pro.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/home.css">

    <link href="../static/css/myaccount.css" rel="stylesheet">
    <title>Bolt Pay | Send Money</title>
</head>

<body>

    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top navbar-fixed-top" id="menu">
            <i class="fas fa-bolt fa-2x" style="color: #ffffff">&#160;</i>
            <a class="navbar-brand" href="{{url_for('users.homepage')}}"> <strong>Bolt</strong> Pay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="myaccount.html">My Account <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active-item" href="#">Send and Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="summary.html">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="support.html">Support</a>
                    </li>
                </ul>
                <div class="loginSection">
                    <a name="" id="accountSettings" class="btn btn-outline-light mr-2" href="#" role="button"
                        data-toggle="tooltip" data-placement="bottom" title="Update account settings"><i
                            class="fal fa-cog spin"></i></a>
                    <a name="" id="logOut" class="btn text-white" href="{{url_for('users.logout')}}" role="button">Log
                        Out</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="wrapper">
        <div class="container">
            <h2 class="mb-5">Hello {{first_name}},</h2>

            <div class="row mx-auto">

                <div class="col-md-4">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="btn btn-secondary  active mb-3" id="v-pills-send-money" data-toggle="pill"
                            href="#v-pills-send" role="tab" aria-controls="v-pills-send" aria-selected="true">Send
                            Money</a>
                        <!--
                        <a class="btn btn-secondary  active mb-3" id="v-pills-send-money" 
                        href="https://rzp.io/l/dBmhbjW" role="tab" aria-selected="true">Send
                            Money</a>
                        -->

                        <a class="btn btn-secondary mb-3" id="v-pills-request-money" data-toggle="pill"
                            href="#v-pills-request" role="tab" aria-controls="v-pills-request"
                            aria-selected="false">Request Money</a>




                    </div>
                </div>
                <div class="col-md-8 bg-white p-3 rounded-lg mb-5">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-send" role="tabpanel"
                            aria-labelledby="v-pills-send-money">
                            <h4 class="text-primary mb-3">Send payment to anyone</h4>


                            <form id="money-send-form" class="form" method="POST">
                                <fieldset>
                                    <div class="form-group">
                                        <label> Reciever Name</label>
                                        <input type="text" name="name" class="form-control" placeholder="John Reck"
                                            data-vindicate="required|format:phone|active" />
                                        <small class="form-control-feedback"></small>
                                    </div>
                                    <div class="form-group">
                                        <label>Reciever Phone Number</label>
                                        <input type="text" name="active_phone_number" class="form-control"
                                            placeholder="(xxx) xxx-xxx" data-vindicate="required|format:phone|active" />
                                        <small class="form-control-feedback"></small>
                                    </div>
                                    <div class="form-group">
                                        <label>Reciever Email Address</label>
                                        <input type="text" name="active_full_name" class="form-control"
                                            placeholder="xxxxxxxxx@xxxxx.com"
                                            data-vindicate="required|format:email|active" />
                                        <small class="form-control-feedback"></small>
                                    </div>
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="number" name="amount" class="form-control" placeholder="100"
                                            data-vindicate="required|format:email|active" />
                                        <small class="form-control-feedback"></small>
                                    </div>
                                    <div class="row">

                                        <!--
                                    <div class="col-6"> <button class="btn btn-secondary btn-1 mt-3 " type="button"
                                            onclick="nextSendMoney()" data-toggle="modal"
                                            data-target="#sendMoneyModal">Next</button></div>
                                    -->

                                        <div class="col-6">

                                            <button class="btn btn-secondary btn-1 mt-3 " type="submit"
                                                id="rzp-button1">Next</button>

                                        </div>

                                        <div class="col-6 text-right"> <a href=""
                                                class="btn btn-outline-secondary btn-1 mt-3 "> How it
                                                works? </a></div>

                                    </div>

                                </fieldset>
                            </form>


                            <div class="modal fade " id="sendMoneyModal" tabindex="-1" role="dialog"
                                aria-labelledby="sendMoneyModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Enter the amount</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <form id="sendMoneyAmount">
                                                <div class="form-group">
                                                    <label for="sendAmount"><i class="far fa-rupee-sign"></i> Enter the
                                                        value</label>
                                                    <input type="tel" class="form-control" id="exampleInputEmail1"
                                                        aria-describedby="amountHelp" placeholder="0.00">
                                                    <small id="emailHelp" class="form-text text-muted">Ensure you have
                                                        sufficient balance before sending the amount</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="noteSendAmountLabel"><i class="fal fa-pencil"></i> Add a
                                                        note</label>
                                                    <input type="textarea" class="form-control" id="noteSendAmount"
                                                        placeholder="Payment/lending">
                                                </div>

                                                <button type="submit" class="btn btn-secondary btn-1">Continue</button>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="v-pills-request" role="tabpanel"
                            aria-labelledby="v-pills-request-money">
                            <h4 class="mb-3 text-primary">Request money from available Lenders</h4>
                            <div>
                                <form method="POST">
                                    <fieldset>

                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" name="active_phone_number" class="form-control"
                                                placeholder="(xxx) xxx-xxx"
                                                data-vindicate="required|format:phone|active" />
                                            <small class="form-control-feedback"></small>
                                        </div>
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input type="text" name="active_full_name" class="form-control"
                                                placeholder="xxxxxxxxx@xxxxx.com"
                                                data-vindicate="required|format:email|active" />
                                            <small class="form-control-feedback"></small>
                                        </div>
                                        <div class="row">
                                            <div class="col-6"> <button class="btn btn-secondary btn-1 mt-3 "
                                                    type="button" onclick="nextRequestMoney()">Next</button></div>
                                            <div class="col-6 text-right"> <a href=""
                                                    class="btn btn-outline-secondary btn-1 mt-3 "> How it
                                                    works? </a></div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>




            </div>
        </div>
    </div>







    <!-- Footer -->
    <section id="footer" class="mt-5">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 1</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 2</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 3</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 4</a></li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 text-center text-white">
                    <h4>If you like us, then kindly </h4> <a href="" class="btn btn-lg btn-primary carouselCTA">Refer to
                        your friends!</a>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a>
                        </li>

                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center text-white">
                    © 2019 Copyright:
                    <a href="#/" class="text-white">BoltPay</a>
                </div>
                </hr>
            </div>
        </div>
    </section>
    <!-- ./Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
    <script src="../static/js/vindicate.js"></script>

    <script>

        $("#money-send-form").vindicate("init");

        var nextSendMoney = function () {
            $("#money-send-form").vindicate("validate");
        }


    </script>

    <script>
        $("#money-request-form").vindicate("init");

        var nextRequestMoney = function () {
            $("#money-request-form").vindicate("validate");
        }
    </script>

</body>

</html>