<!doctype html>
<!-- 
Designed & Developed by

 ██████╗     ██████╗  ██████╗ ██╗  ██╗██╗████████╗
██╔════╝     ██╔══██╗██╔═══██╗██║  ██║██║╚══██╔══╝
██║  ███╗    ██████╔╝██║   ██║███████║██║   ██║   
██║   ██║    ██╔══██╗██║   ██║██╔══██║██║   ██║   
╚██████╔╝    ██║  ██║╚██████╔╝██║  ██║██║   ██║   
 ╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝   ╚═╝   

 https://grohit.com/
 -->
<div lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"> -->
        <link rel="stylesheet" href="css/fa.pro.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="home.css">

        <link href="myaccount.css" rel="stylesheet">
        <title>Bolt Pay | Account Summary</title>
    </head>

    <body>

        <div class="container-fluid ">
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top navbar-fixed-top" id="menu">
                <i class="fas fa-bolt fa-2x" style="color: #ffffff">&#160;</i>
                <a class="navbar-brand" href="index.html"> <strong>Bolt</strong> Pay</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="myaccount.html">My Account <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sendmoney.html">Send and Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active-item" href="#">Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="support.html">Support</a>
                        </li>
                    </ul>
                    <div class="loginSection">
                        <a name="" id="accountSettings" class="btn btn-outline-light mr-2" href="#" role="button"
                            data-toggle="tooltip" data-placement="bottom" title="Update account settings"><i
                                class="fal fa-cog spin"></i></a>
                        <a name="" id="logOut" class="btn text-white" href="#" role="button">Log Out</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="wrapper">
            <div class="container">
                <h2 class="mb-5">Hello {{first_name}},</h2>

                <div class="row">




                    <div class="col-md-6 bg-white p-3 rounded-lg mb-5 mx-auto">
                        <h5 class="text-primary">Recent Activities:</h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col" class="text-center">Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if users_data %}
                                {% for data in users_data %}
                                <tr>
                                    <th scope="row">{{data.date}}</th>
                                    <td>{{data.recieverName}}</td>
                                    <td>- <i class="fal fa-rupee-sign"></i>{{data.amount / 100}}</td>
                                    <td class="text-center"> <small class="text-secondary">Lent money</small> <br> <i
                                            class="fa fa-arrow-right" aria-hidden="true"></i> </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="text-right"> <a href="" class="btn btn-outline-secondary btn-1 px-3">Report
                                issue?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <!-- Footer -->
        <section id="footer" class="mt-5">
            <div class="container">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a>
                            </li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a>
                            </li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 1</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 2</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 3</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Link 4</a></li>

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 text-center text-white">
                        <h4>If you like us, then kindly </h4> <a href=""
                            class="btn btn-lg btn-primary carouselCTA">Refer to
                            your friends!</a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="javascript:void();"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void();"><i
                                        class="fab fa-instagram"></i></a>
                            </li>

                            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                        class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center text-white">
                        © 2019 Copyright:
                        <a href="#/" class="text-white">BoltPay</a>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
        <!-- ./Footer -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script>
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar-fixed-top");
                    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                });
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </body>

</div>