<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link href="../static/css/carousel.css" rel="stylesheet">
    <title>Farhaan Patel | CTO</title>
</head>

<body>

    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top" id="menu">
            <i class="fas fa-bolt fa-2x" style="color: #ffffff">&#160;</i>
            <a class="navbar-brand" href="{{url_for('users.homepage')}}"> <strong>Bolt</strong> Pay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">

                </ul>
                <div class="loginSection">
                    <a name="" id="loginBtnHomePage" class="btn btn-outline-primary mr-2"
                        href="{{url_for('users.login')}}" role="button">Log
                        In</a>
                    <a name="" id="signUpBtnHomePage" class="btn btn-primary" href="{{url_for('users.signup')}}"
                        role="button">Sign Up</a>
                </div>
            </div>
        </nav>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <img class="d-block w-100" src="../static/images/i1.jpg" alt="First slide" height="auto">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="font-pp-big">Coffee with Rachel: Farhaan Patel</h1>
                        <p class="font-pp">Rachel Hille meets Farhaan Patel, Chief Technical Officer(CTO) of Bolt Pay,
                            who speaks about
                            the secrets of his personal and professional journey.
                            <br>
                            <br> Learn more about BoltPay IO:</p>
                        <p class="font-pp"><a class="btn btn-lg btn-primary carouselCTA" href="https://www.boltpay.io/"
                                role="button">BoltPay IO</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid featuresSection font-pp">
        <div class="row text-center font-pp">
            <div class="container font-pp">
                <div class="row font-pp">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center font-pp">
                        <div class="detail-page-left font-pp">

                            <h1 align="text-center" itemprop="headline" class="headline primary font-pp">
                                <span class="font-pp-big">
                                    Exclusive Interview with Farhaan Patel: "If I am into something, I am in it to win it."
                                </span>
                            </h1>

                            <div class="meta">
                                <span>
                                    <ul class="list-inline font-pp">
                                        <li><span itemprop="author" class="tnt-byline font-pp">Rachel Hille, Inc. Groups
                                            </span></li>
                                        <li>
                                            <time datetime="2018-12-18T19:30:00-08:00"
                                                class="tnt-date asset-date text-muted primary">Aug 8, 2019</time></li>
                                    </ul>
                                </span>
                            </div>

                            <img class="font-pp col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center" src="../../static/images/farhaan2.jpeg"
                                style="visibility: visible; animation-name: fadeInUp;">
                            <div class="meta">
                                <span>
                                    <ul class="list-inline font-pp">
                                        <time datetime="2018-12-18T19:30:00-08:00"
                                            class="tnt-date asset-date text-muted">Farhaan Patel in a Search Quality
                                            Meet,
                                            before the release of Bolt Pay(Beta), Banglore</time></li>
                                    </ul>
                                </span>
                            </div>
                            <br>

                            <p align="left">
                                <span class="font-pp" >
                                Ingenious, formally dressed, and usually found sharing his ideas and
                                opinions on
                                the technology world, Farhaan Patel is a senior Data Scientist at Google and CTO of Bolt
                                Pay.
                                He is well versed in giving his thoughts on complex and abstruse IT matters through
                                regular
                                company interviews, but I wanted to get to know the man behind the talk.</span></p>

                            <p class="font-pp" align="left">Bolt Pay, a money-lending platform started out as a spark of an idea but is
                                on
                                the verge of becoming one of the largest non-banking financial platform's which
                                leverages
                                all
                                the business needs seamlessly.</p>

                            <p class="font-pp" align="left">
                                <span class="font-pp">
                                Although success was not easy, Farhaan's determination and drive made it all
                                happen. <strong>“This idea started in my mind, but I had the vision in place – I knew
                                    how it
                                    was going to look, otherwise I wouldn’t have invested my time into it."</strong></span></p>

                            <p class="font-pp" align="left">Although Farhaan is a qualified Data Scientist and is soon travelling to
                                United
                                States for his MS, he thinks education is only part of what shapes you as a
                                person.<strong>
                                    “Coming from a family where "Education" has always been the first priority, I still
                                    believe
                                    Qualifications contribute very little to what you are,”</strong> he tells
                                me.<strong>“It’s
                                    qualities like curiosity, common sense, assuming responsibilities, ethics, values
                                    [and]
                                    the way
                                    you grew up that really make a person. Academic qualifications are just the nuts,
                                    bolts
                                    and tools
                                    to run a business.”</strong></p>

                            <p class="font-pp" align="left">Back in India, Farhaan grew up in a town called Deolali in the state of
                                Maharashtra,
                                in western India. His upbringing was filled with English influences. <strong>“I studied
                                    in a
                                    school
                                    that was started by the Christain missionaries, celebrated almost every festival and
                                    lived in a
                                    military cantonment. It was a very liberal and cosmopolitan atmosphere.”</strong>
                            </p>

                            <p class="font-pp" align="left">Talking about his family he says<strong> “Well we are a family of four. I
                                    have a
                                    elder brother, Farees.
                                    We both studied from the same school. Later on he went on to New York to pursue his
                                    MS
                                    from "Syracuse" which comes in the top 5 Universities there
                                    and is currently working as a Senior Data Scientist in one of the biggest companies
                                    in
                                    Boston. I am also leaving next week to pursue
                                    my MS from a top class university in San Jose, California. My brother has
                                    always been the grounds on the top of which we all stand.
                                    My mother was a teacher in the very same school we all studied and my father was a
                                    professor and later on got the position of Dean in SQU, Oman.”</strong>
                            </p>

                            <p class="font-pp" align="left">In terms of his personal life he says<strong> I share a very different
                                    perception
                                    of my life.
                                    My personal life has been a bit speculative but I am completely fine with it.
                                    There have been ups and downs, but I believe they are all a part of your game. The
                                    most important thing here is that I have never let those things
                                    tamper my profession. At the end of the day I repeat, yet again that I have lived
                                    life
                                    on my own terms.
                                    I have not been shy, I have not tried to hide anything, I am totally transparent and
                                    I
                                    am what I am. If I am into something, I AM IN IT TO WIN IT.
                                    This does not necessarily imply that I have never failed in life. I have failed more
                                    number of times that an average person of my age has even tried.
                                    I have one principle in life, "An attempt might be a failure but there should be no
                                    failure to an attempt".
                                </strong></p>

                            <p class="font-pp" align="left">In order for a company to be successful, it requires a strong foundation and
                                a
                                good team. Farhaan believes that when one builds a solid team, lays down a process and
                                empowers
                                them, they will be capable of running proceedings without the need of constant hands-on
                                supervision.
                                <strong>“Strategy is what I work on now with a very high quality business model, team,
                                    and
                                    shareholders”
                                    As a developer, writing a piece of code to have significant and measurable positive
                                    impact for users,
                                    the company's bottom line and the industry is very important. We follow an agile
                                    approach
                                    of architecture,
                                    design, implementation, and testing to ensure we build products right and release
                                    them
                                    with high quality.
                                </strong> he says.</p>



                            <p class="font-pp" align="left">Farhaan completed his graduation from Pune University and was a one of
                                the
                                students
                                to hold the highest grade in his final year. He was a University topper of 2017
                                (computer
                                engineering)
                                and after graduation he worked as a Software Developer in Oracle, bombay. He left oracle
                                in
                                the end of 2018
                                and developed "REVINE" a secure platform to leverage blockchain transactions. In the
                                beginning of 2019,
                                he joined Google as a Senior Data Scientist, at the same time, he hold's his position as
                                the
                                CTO
                                of Bolt Pay.
                                He has also won Google's "Best Employee Under 25" award. <strong>Though my dream was to
                                    work with NASA one
                                    fine day, my journey has been challenging, fruitful, enlightening, and exciting. “I
                                    have
                                    immensely enjoyed every
                                    single day working for this company, I think if I had another chance, I would
                                    probably
                                    do this again.”</strong>
                                he says.</p>

                            <p class="font-pp" align="left"><strong> “I spend a lot of time reading new technological blogs,
                                    travelling
                                    and strongly believe that we are truly
                                    global citizens. I am also passionate about music and swimming.”</strong>
                                says Farhaan.</p>

                            <p class="font-pp" align="left">Farhaan was a chief speaker at Google Audience Summit and Google
                                Developer's.
                                <strong>“Generally my talks are about IT domain”</strong> he tells me. <strong>“I say if
                                    you
                                    have a single-track
                                    mind, it’s great; if people think you have an exaggerated opinion of yourself, it’s
                                    also
                                    great. To succeed
                                    you need to be a team player and leader at the same time, the rest comes
                                    later.”</strong></p>

                            <img class="font-pp col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center" src="../../static/images/farhaan2.png"
                                style="visibility: visible; animation-name: fadeInUp;">
                            <div class="meta">
                                <span>
                                    <ul class="list-inline">
                                        <time datetime="2018-12-18T19:30:00-08:00"
                                            class="tnt-date asset-date text-muted">Farhaan Patel in a discussion with
                                            Rachel, Co-Works, Bombay</time></li>
                                    </ul>
                                </span>
                            </div>
                            <br>

                            <p  align="left">
                                <span class="font-pp">
                                At the age of 24, where most of the student's complete their graduation,
                                some
                                are confused of what to do in life
                                whereas the rest are
                                searching out for jobs,
                                Farhaan feels he is truly blessed to achieve a lot at this age. At just 24, he has
                                made
                                a fortune for himself
                                resulting from being a substantial share holder of "REVINE" and "Bolt Pay" and
                                also holds significant number of shares of Google, apart from his current salary.

                                <strong>“Alhamdulillah, by the grace of Allah almighty, I have been given a lot at a
                                    very
                                    young age. I invest most of my salary in shares as I feel they would serve as an asset in the future.
                                    Today I stand strong on my feet and am proud of the position I am holding. What
                                    makes me
                                    more happy
                                    as a person
                                    is the fact that I have never leveraged nepotism in my entire life. Whatever I did
                                    was
                                    on my own.
                                    I am at the stage of life where  
                                    I can pursue my education at my own expense in US and live a life of austerity and this
                                    itself is
                                    a big thing for me.
                                    I strongly believe that an individual should be financially strong so as to take
                                    care of himself and his loved ones.
                                    Making money is not really a bad thing but being successful has it's own perks.
                                    Being
                                    rich and being successful are two diametrically
                                    opposite things. Most of the people confuse it of being the same, believe me they
                                    are
                                    not.”</strong> he tells me.</span></p>

                            <p class="font-pp" align="left">His advice for those who want to achieve success is to dream big. <strong>
                                    “Everything
                                    starts with a dream. You need to remain focused and have a one-track mind regarding
                                    what
                                    you want to do, then
                                    [you can] start building the foundations for your dream. My father used to say,
                                    "Always
                                    aim for the moon, for if not the moon,
                                    you will atleast get the star's
                                    in your hand.</strong></p>



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>


    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">


            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 text-center text-white">
                    <h4>Get started for free.</h4> <a href="{{url_for('users.signup')}}"
                        class="btn btn-lg btn-primary carouselCTA">Register Now!</a>
                </div>

            </div>
            <div class="row mt-5">

                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center text-white">
                    © COPYRIGHTS
                    <a href="{{url_for('users.homepage')}}" class="text-white">BOLTPAY</a>
                    ALL RIGHTS RESERVED.
                </div>
                </hr>
            </div>
        </div>
    </section>
    <!-- ./Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>

</html>