html {
    scroll-behavior: smooth;
    font-family: PayPalSansSmall-Regular;
}

@font-face {
    font-family: PayPalSansSmall-Regular;
    font-style: normal;
    src: url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.woff2) format('woff2'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.woff) format('woff'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.eot) format('embedded-opentype'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.svg) format('svg')
}

@font-face {
    font-family: PayPal-Sans-Big;
    font-style: normal;
    src: url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.woff2) format('woff2'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.woff) format('woff'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.eot) format('embedded-opentype'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.svg) format('svg')
}

.navbar-fixed-top.scrolled {
    background-color: #003087  !important;
    transition: background-color 200ms linear;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
 
  }

#menuItems>li {

    padding-right: 20%;
}


.carouselCTA {
    border-radius: 50px !important;

}

a.carouselCTA {
    text-decoration: none !important;
    color: #ffffff !important;
}

.font-pp-big {
    font-family: PayPal-Sans-Big, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 700 !important;
}

.font-pp {
    font-weight: 400 !important;
    font-family: PayPalSansSmall-Regular, "Helvetica Neue", Arial, sans-serif !important;

}

a.nav-link {
    font-weight: 400 !important;
    font-family: PayPalSansSmall-Regular, "Helvetica Neue", Arial, sans-serif !important;
    color: #ffffff !important;
    margin-right: 50px !important;
}
a.nav-link:hover {
    font-weight: 400 !important;
    font-family: PayPalSansSmall-Regular, "Helvetica Neue", Arial, sans-serif !important;
    opacity: .8;

}

a.navbar-brand {
    color: #ffffff !important;
    font-size: 28px !important;
    padding: 0 !important;

}

h1.font-pp-big , a.navbar-brand {
    font-family: PayPal-Sans-Big, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

p.font-pp {
    font-family: PayPalSansSmall-Regular, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

#signUpBtnHomePage {
    border-radius: 25px !important;
 border: 0;
    background: #ffffff !important;
    color: #003087;
    width:100px !important; 
}
#loginBtnHomePage {
    border-radius: 25px !important;
    border: 1px solid #ffffff !important;
    background: transparent !important;
    color: #ffffff;
    width:100px !important; 
}
#loginBtnHomePage:hover {
    border-radius: 25px !important;
    border: 1px solid #003087 !important;
    background-color: #ffffff !important;
    color: #003087;
    transition: background-color 200ms linear;
    width:100px !important; 
}

#loginSection {
    width: 250px !important;
}

.featuresSection{
    background: #f5f7fa !important;
    padding-top: 5%;
}

.navbar-toggler-icon {
    background-image: url('menu-icon.png') !important;
    color: #ffffff;

}
*:focus {outline:none !important}
 
section#footer {
    padding: 60px 0;
}

section#footer .section-title {
    text-align: center;
    color: #009cde;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #003087 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    /* background-color: transparent; */
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}


@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

#menu {
    background: #000000;
}
}
