html,
body {
    scroll-behavior: smooth;
    font-family: PayPalSansSmall-Regular;
    background: #F5F7FA;
}

@font-face {
    font-family: PayPalSansSmall-Regular;
    font-style: normal;
    src: url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.woff2) format('woff2'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.woff) format('woff'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.eot) format('embedded-opentype'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.svg) format('svg')
}

@font-face {
    font-family: PayPal-Sans-Big;
    font-style: normal;
    src: url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.woff2) format('woff2'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.woff) format('woff'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.eot) format('embedded-opentype'), url(https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.svg) format('svg')
}

.wrapper {

    margin-top: 5rem;
}

.bg-white {
    background-color: #ffffff;
    color: #000000;
}

.btn-1 {

    border-radius: 50px;
}

.btn-1:hover {
    box-shadow: 5px 5px 15px #888888;
    border-radius: 50px;
}

.btn-send-money {
    background-image: linear-gradient(to top, #3F51B5 0%, #2196F3 100%);
    /* background-image: linear-gradient(to bottom, rgb(0, 130, 252) 0%, rgb(105, 2, 201) 100%); */
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    border: #4facfe;
    transition: all 300ms;
    padding: 8px 20px;
    overflow: hidden;
    height: auto;
}

@-webkit-keyframes sendMoneyBtnAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes sendMoneyBtnAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes sendMoneyBtnAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.btn-send-money:hover {
    background: linear-gradient(160deg,#e8cf00 ,#ff9400 ,#e43dff ,#01aef0 ,#2196F3 , #3F51B5);
    background-size: 800% 800%;
    -webkit-animation: sendMoneyBtnAnimation 18s ease infinite;
    -moz-animation: sendMoneyBtnAnimation 18s ease infinite;
    animation: sendMoneyBtnAnimation 18s ease infinite;

    margin-top: -10px;
    color: #F5F7FA;
    box-shadow: 2px 5px 10px rgba(121, 120, 120, 0.4);
}

.btn-request-money {
    background-image: linear-gradient(to top, #3F51B5 0%, #2196F3 100%);

    /* background-image: linear-gradient(to bottom, rgb(0, 130, 252) 0%, rgb(105, 2, 201) 100%); */
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    border: #4facfe;
    transition: all 300ms;
    padding: 8px 20px;
    overflow: hidden;
}

@-webkit-keyframes requestMoneyBtnAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes requestMoneyBtnAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes requestMoneyBtnAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.btn-request-money:hover {
    background: linear-gradient(160deg,#e8cf00 ,#ff9400 ,#e43dff ,#01aef0 ,#2196F3 , #3F51B5);
    background-size: 800% 800%;
    -webkit-animation: requestMoneyBtnAnimation 18s ease infinite;
    -moz-animation: requestMoneyBtnAnimation 18s ease infinite;
    animation: requestMoneyBtnAnimation 18s ease infinite;

    margin-top: -10px;
    color: #F5F7FA;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(121, 120, 120, 0.4)
}

.active-item {
    border-bottom: 1px dotted #ffffff;
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bg-bank-icons {
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to bottom, #fafafa, #e9e9e9);
}


.bank-n-cards .table td,
.table th {
    border: 0 !important;
}

.form-control-feedback {
    color: red;
}