/* The pwErrMessage box is shown when the user clicks on the password field */
#pwErrMessage ,  #confirm__Pw__ErrMessage{
    display:none;
    background: #f9f8f8;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #pwErrMessage p ,#confirm__Pw__ErrMessage p  ,#CheckPassword{
    padding: 0px 35px;
    font-size: 12px;
    
  }
  
   
  /* Add a green text color and a checkmark when the requirements are right */
  .valid  , .isMatched {
    color: #0070ba;
  }
  
  .valid:before  ,.isMatched::before{
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid ,.isMatched {
    color: #ff0000;
  }
  
  .invalid:before ,  .notMatched::before  {
    position: relative;
    left: -35px;
    content: "✖";
  }


 
 